name: Archive website
on:
  deployment_status:
  schedule:
    - cron: "0 0 * * *"

jobs:
  archive:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: python -m pip install wayback-machine-archiver

      - name: Archive Website
        run: archiver --sitemaps https://warezz.now.sh/sitemap.xml --log=INFO
